.drawer {
  display: none;
  min-width: 22%;
  height: 85vh;
  overflow-y: scroll;
  border: 1px solid #ccc;
  border-bottom: none;
  border-top: none;
  padding-bottom: 20px;
}
.drawer .drawer-container {
  padding: 10px !important;
  width: 100%;
  margin-bottom: 10px;
}
.filter-header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  top: 0px;
  position: sticky;
  background: #fff;
  z-index: 500;
  padding: 0px 0px 10px 0px;
}
.close-btn-container {
  padding: 5px 0px;
  display: flex;
  justify-content: flex-end;
}
.card {
  margin-bottom: 5px;
  background-color: #fff;
  border-radius: 0px;
  padding: 0px;
}
.card button {
  text-align: left !important;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding: 0px 5px;
}
.card-header {
  padding: 4px !important;
  border: none !important;
}
.card-body {
  padding: 5px !important;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-body div {
  padding: 5px 0px;
}
.card-body .key {
  width: 30% !important;
}
.card-body .key select {
  max-width: 100%;
}
.card-body .value {
  width: 68%;
}
.card-body input,
select {
  padding: 5px;
  font-size: 0.8rem !important;
}
