.top-bar {
  top: 70px;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  background-color: #fff;
  z-index: 1000;
  border: 1px solid var(--border-color);
  border-left: none;
  border-right: none;
  width: 100%;
  z-index: 1000;
}
.top-bar .action-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.top-bar .form-label-container {
  width: 50%;
}
.btn-container {
  padding: 0px 5px;
}
.row-container {
  padding: 20px 10px;
  display: flex !important;
  flex-direction: row;
  justify-content: center;
  width: auto !important;
}
.my-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px;
  padding: 0px !important;
}

.form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.form-group label {
  width: 60% !important;
}
.grid-form-group label {
  width: 100% !important;
}

.radiobox-container {
  border: none;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
}
.radiobox-container .custom-control {
  padding: 0px 20px;
}
.form-row .form-control {
  padding: 5px !important;
}
.modal-dialog {
  margin: 5px auto !important;
}
.modal-header,
.modal-footer {
  padding: 0.5rem 1rem;
}
.modal-body {
  height: 75vh !important;
  max-height: 75vh !important;
  min-height: 75vh !important;
  overflow-y: scroll;
}
.grid-form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.grid-contianer .form-group {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start;
}
.form-group {
  margin-bottom: 0.5rem;
}
.action-btn-container {
  margin-right: 5px;
}
.action-btn-container button span {
  padding: 0px 2px;
  display: flex;
  flex-direction: row;
  justify-content: center !important;
  align-items: center !important;
}
.action-btn-container button,
.action-btn-container select {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center !important;
}
.form-section {
  padding: 20px 10px !important;
}
.grid-container {
  border: 1px solid #ccc !important;
  border-top: none !important;
  border-bottom: none !important;
}
.sec-action-select {
  padding: 5.5px 5px;
  min-width: 90px;
  max-width: 120px;
}
.sec-action-select option {
  padding: 4px !important;
}
