::-webkit-scrollbar {
  width: 5px;
  background-color: #f7e7e7;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 0px;
}
.navbar .megamenu ::-webkit-scrollbar {
  width: 5px;
  background-color: transparent;
}

/* Track */
.navbar .megamenu ::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
.navbar .megamenu ::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
