:root {
  --primary-color: #f1f2fb;
  --secondary-color: #7f74fa;
  --link-hover-color: #7f74fa;
  --border-color: #ccc;
  --text-color: #212529;
  --main-menu-hover-text-color: #fff;
  --icon-color: rgb(78, 77, 77);
  --table-border: #e4e6e9;
}
